header {
    nav {
        .container-fluid {
            background-color: #fff;
            text-decoration: none;
            list-style: none;
            color: #772323;
            font: { 
                family: 'Patrick Hand', cursive;
                weight: bolder;
            }
            letter-spacing: 5px;
        }
            & .collapse {
                justify-content: center;

                ul {
                    li {
                        list-style: none;
                        position: relative;

                        i {
                            font-size: 45px;
                            color: #772323;
                        }

                        #carrito {
                            display: none;

                            h5 {
                                font-size: 25px ;
                            }

                            button {
                                cursor: grabbing;
                                border-color: #ecd9c6;
                                background-color: #fdd086;
                                color: #772323;
                                border-radius: 10px;
                                height: 43px;
                                width: 200px;
                                font-family: 'Patrick Hand', cursive;
                                font-weight: bolder;
                                letter-spacing: 2px;
                                font-size: 20px;
                                padding: 5px;
                                box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                                text-decoration: none;
                                margin-bottom: 50px;
                            }
                        }

                        &:hover #carrito {
                            display: block;
                            color: #772323;
                            position: absolute;
                            right: 0;
                            top: 100%;
                            z-index: 1;
                            background: #ecd9c6;
                            padding: 20px;
                        }
                    }
                }
            }
            
            & .navbar-nav a {
                    color: #f5eded;
                    margin: 0px 30px;
                    font-size: 25px;
            }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: {
        image: url(../Desafíos/img/fondo-website1.jpg);
        attachment: fixed;
        position: bottom;
        repeat: no-repeat;
        size: cover;
    }
    height: 500px;
    width: 100%;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

        h1 {
            color: white;
            letter-spacing: 10px;
            font: bolder 10em 'Patrick Hand', cursive;            
        }
    }
   
    
     

/*----------------------------Productos----------------------------*/
h2 {
    background-color: #772323;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Patrick Hand', cursive;
    color: #ecd9c6;
    font: 900 5em 'Patrick Hand', cursive;
    margin-top: 25px;       
}

.section__galeria {
    background-color: #772323;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 3%;
    cursor: pointer;       
        
       
        
        p {
            letter-spacing: 2px;
            font: {
                family: 'Patrick Hand', cursive;
                weight: lighter;
                size: 25px;
                }
            color: #772323;
            background-color: #ecd9c6;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-left: 24%;
            margin-top: 3%;
            border-style: double;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        }
        
        img {
            margin-top: 50px;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transition: transform 1s;
                &:hover {
                    transform: scale(1.2);
                }
        }
                        
        .card__price {
            color: #ecd9c6;
            padding: 5px 20px;
            background-color: #3f3f3f;
            border-radius: 30px;
            width: 25%;
            margin-left: 38%;
        }
        
        button {
            cursor: grabbing;
            border-color: #ecd9c6;
            background-color: #fdd086;
            color: #772323;
            border-radius: 10px;
            height: 43px;
            width: 200px;
            font-family: 'Patrick Hand', cursive;
            font-weight: bolder;
            letter-spacing: 2px;
            font-size: 20px;
            padding: 5px;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            text-decoration: none;
        }
    }

.especiales__title {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    font-family: 'Patrick Hand', cursive;
    justify-content: center;
    align-items: center;
    background-color: #aa806f;
    color: white;
    padding: 50px;
    margin: 20px 85px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

        & a {
            text-decoration: underline;
            letter-spacing: 2px;
            font: {
                family: 'Patrick Hand', cursive;
                size: 40px;
            }
            color: white;
        }
    }
    

